@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

* {
    cursor: none;
}

body {
    font-family: 'Fugaz One', cursive;
    margin: 0;
    background-color: #ffffff;
}

body::after {
    content: "";
    position: fixed;
    z-index: -10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
  }

header {
    user-select: none;
    height: 205px;
}

.title {
    margin: 0 auto;
    padding: 60px;
    width: 600px;
}

header nav {
    position: absolute;
    font-size: 24px;
}

.home {
    top: 1%;
    left: 50%;
    transform: translateX(-240%);
    z-index: 150;
    mix-blend-mode: difference;
}

.date {
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    z-index: 150;
    mix-blend-mode: difference;
    color: white;
}

.contact {
    top: 1%;
    left: 50%;
    transform: translateX(180%);
    z-index: 150;
    mix-blend-mode: difference;
}

.header_hover a {
    position: fixed;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.header_hover a::after{
    z-index: 2;
    transform-origin: center;
    content: "";
    z-index: 2;
    display: block;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    background-color: white;
}

.header_hover a:hover::after{
    transform: scaleX(1);
    transition: 0.2s ease-in;
}

.mouse_invert {
    z-index: 2000;
    top: -100px;
    left: -100px;
    pointer-events: none;
    position: fixed;
    display: block;
    width: 20px;
    height: 20px;
    background-color: white;
    mix-blend-mode: difference;
    border-radius: 50%;
}

/* .mouse_invert::after {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    mix-blend-mode: difference;
    border-radius: 50%;
    top: 80%;
    left: 80%;
} */


/* ------------- */
/* HOME PAGE ROBIN*/
/* ------------- */


.headerPic{
    height: 540px;
}

.headerPic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gorie{
    display: flex;
    align-content: center;
    height: 60px;
    padding-top: 60px;
    padding-bottom: 30px;
    color: #ffffff;
}

.gorie h2{
    margin: 0;
    padding-top: 3px;
    padding-left: 100px;
    padding-right: 40px;
    text-transform: uppercase;
    background: #000000;
    font-size: 40px;
    font-family: 'Fugaz One', cursive;
}

.blueBg{
    background: #F3F3FF;
}

/* ARTICLE 1 */

.containerArticle{
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;
}

.case1{
    width: 49%;
    height: 600px;
    position: relative;
    padding-bottom: 50px;
}

.case1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titleCase1{
    position: absolute;
    bottom: 0;
}

.titleCase1 h3{
    color: #ffffff;
    text-align: center;
    margin: 30px;
    margin-bottom: 100px;
    text-transform: uppercase;
    font-size: 32px;
    font-family: 'Fugaz One', cursive;
}

.line{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 10px 0px;
    height: 3px;
    background: #000000;
    position: absolute;
}


.autorContainer{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.autor h4{
    position: relative;
    margin: 0;
    padding: 0px 10px;
    top: 0px;
    background: #ffffff;
    text-align: center;
    font-size: 16px;
    font-family: 'Fugaz One', cursive;
}

/* ARTICLE 2 */

.case2{
    height: 500px;
    border-width: 10px;
    border-style: solid hidden solid hidden;
    text-align: center;
    justify-content: center;
    position: relative;
}

.case2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.titleCase2{
    width: 100%;
    position: absolute;
    bottom: 40px;

}

.titleCase2 h3{
    color: #ffffff;
    text-align: center;
    /* margin: 60px; */
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'Fugaz One', cursive;
    position: relative;
    text-shadow: 3px 4px #000000;
}

.autor2{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.autor2 h4{
    margin: 0;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-family: 'Fugaz One', cursive;
}

.line2{
    margin: 5px 0px;
    width: 100%;
    height: 5px;
    background: #ffffff;
}

/* ARTICLE 3 */

.case3{
    width: 32%;
    height: 600px;
    position: relative;
    padding-bottom: 50px;
}

.case3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.autorContainer3{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.transform2{
    transform: translateY(50px)
}

.transform3{
    transform: translateY(100px)
}

.autor3 h4{
    position: relative;
    margin: 0;
    padding: 0px 10px;
    top: 0px;
    background: #F3F3FF;
    text-align: center;
    font-size: 16px;
    font-family: 'Fugaz One', cursive;
}

/* ARTICLE 4 */

.transform4{
    margin-top: 160px;
}


.case4{
    width: 49%;
    height: 200px;
    position: relative;
    padding-bottom: 20px;
}

.case4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titleCase4{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.titleCase4 h3{
    color: #ffffff;
    text-align: center;
    margin: 30px;
    margin-bottom: 100px;
    text-transform: uppercase;
    font-size: 32px;
    font-family: 'Fugaz One', cursive;
}


.autor4{
    width: 100%;
    position: absolute;
    top: 150px;
}

.autor4 h4{
    margin: 0;
    padding: 0px 10px;
    color: #ffffff;
    text-align: right;
    font-size: 16px;
    font-family: 'Fugaz One', cursive;
}
