@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

.articleContainer
{
    width: calc(100% - 200px);
    margin: 0 auto;
}

.articleinfo
{
    color: #000000;
    font-family: 'Fugaz One', cursive;
}

.titleArticle
{
    font-size: 32px;
}

.writer
{
    font-style: 18px;
}

.articletext
{
    width: 800px;
    margin: 0 auto;
    color: #000000;
    font-family: 'PT Sans Narrow', sans-serif;
}

.newarticles
{
    width: 100%;
    padding-top: 10px;
    font-family: 'Fugaz One', cursive;
    background: #F3F3FF;
    height: 330px;
    font-size: 24px;
    margin: 0 auto;
    border-top: 5px solid #000000;
    border-bottom: 5px solid #000000;
}

.newTitle
{
    margin-bottom: 10px;
}

.newImg
{
    display: flex;
    justify-content: space-between;
    user-select: none;
}

.imgInfo
{
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}

.footer
{
    height: 150px;
    font-family: 'PT Sans Narrow', sans-serif;
    user-select: none;
}

.footerInfo
{
    width: 190px;
    margin-top: 40px;
    line-height: 40px;
    position: absolute;
}

.icon
{
    margin-right: 3px;
}

.who
{
    font-size: 24px;
}

.copyright
{
    width: 500px;
    display: flex;
    justify-content: center;
}
.savoirLogo
{
    width: 180px;
    height: auto;
    position: relative;
    top: 45px;
    left: 518px;
}

.savoirCopyright
{
    width: 280px;
    position: relative;
    top: 100px;
    left: 300px;
}

.p2024
{
    position: relative;
    left: 90px;
}

.linkFooter
{
    text-decoration: none;
    color: #000000;
    font-size: 24px;
    position: relative;
    left: 1000px;
}
