@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

* {
    cursor: none;
}

body {
    font-family: 'Fugaz One', cursive;
    margin: 0;
    background-color: #ffffff;
}

body::after {
    content: "";
    position: fixed;
    z-index: -10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
}

header {
    user-select: none;
    height: 205px;
}

.title {
    margin: 0 auto;
    padding: 60px;
    width: 600px;
}

header nav {
    position: absolute;
    font-size: 24px;
}

.home {
    top: 1%;
    left: 50%;
    transform: translateX(-240%);
    z-index: 150;
    mix-blend-mode: difference;
}

.date {
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    z-index: 150;
    mix-blend-mode: difference;
    color: white;
}

.contact {
    top: 1%;
    left: 50%;
    transform: translateX(130%);
    z-index: 150;
    mix-blend-mode: difference;
}

.header_hover a {
    position: fixed;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.header_hover a::after{
    z-index: 2;
    transform-origin: center;
    content: "";
    z-index: 2;
    display: block;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    background-color: white;
}

.header_hover a:hover::after{
    transform: scaleX(1);
    transition: 0.2s ease-in;
}

.mouse_invert {
    z-index: 200;
    top: 0px;
    left: 0px;
    pointer-events: none;
    position: fixed;
    display: block;
    width: 20px;
    height: 20px;
    background-color: white;
    mix-blend-mode: difference;
    border-radius: 50%;
    transition: all 0.1s linear;
}

.mouse_invert_cursor {
    z-index: 200;
    display: block;
    position: fixed;
    width: 5px;
    height: 5px;
    background-color: white;
    mix-blend-mode: difference;
    pointer-events: none;
    border-radius: 50%;
    top: 0;
    left: 0;
}

.click {
    width: 30px;
    height: 30px;
}


/*************

ARTICLE

************/

.userselect::selection
{
    background-color: #707070;
    color: #ffffff;
}

.articleContainer
{
    width: calc(100% - 200px);
    margin: 0 auto;
}

.caseArticle{
    width: 28%;
    position: relative;
    padding-bottom: 50px;
}

.titleCaseArticle{
    position: absolute;
    bottom: -10px;
}

.titleCaseArticle h3{
    color: #ffffff;
    text-align: center;
    margin: 30px;
    margin-bottom: 120px;
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Fugaz One', cursive;
}

.articleinfo
{
    color: #000000;
    font-family: 'Fugaz One', cursive;
}

.titleArticle
{
    font-size: 32px;
}

.writer
{
    font-style: 18px;
}

.articletext
{
    width: 800px;
    margin: 0 auto;
    color: #000000;
    font-family: 'PT Sans Narrow', sans-serif;
}

.newarticles
{
    width: 100%;
    padding-top: 10px;
    font-family: 'Fugaz One', cursive;
    background: #F3F3FF;
    height: 330px;
    font-size: 24px;
    margin: 0 auto;
    border-top: 5px solid #000000;
    border-bottom: 5px solid #000000
}

.newTitle
{
    margin-bottom: 10px;
}

.newImg
{
    display: flex;
    justify-content: space-between;
    user-select: none;
}

.imgInfo
{
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}

.footer
{
    height: 250px;
    font-family: 'PT Sans Narrow', sans-serif;
    user-select: none;
    border-width: 10px;
    border-style: solid hidden hidden hidden;
}

.footer .footerContainer{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    margin: 0px 100px;
}



.logoContainer .icon{
    margin-right: 12px;
}

.footerContainer .who{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    font-size: 24px;
    width: 100%;
}

.footerContainer .logoContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}

.footerContainer .copyright{
    width: 300px;
    /* display: flex; */
    justify-content: center;
}

.copyright .savoirLogo{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    /* width: 250px; */
}

.copyright .savoirLogo img{
    width: 250px;
}

.copyright .savoirCopyright{
    text-align: center;
}

.copyright .savoirCopyright .reserve{
    margin: 10px 0px;
    width: 100%;
}

.copyright .savoirCopyright .p2024{
    width: 100%;
}


.footerContainer .link{
    text-align: right;
    height: 97px;
}

.footerContainer .linkFooter{
    text-decoration: none;
    color: #000000;
    font-size: 24px;
}

/*************

QUI SOMMES NOUS ?

**************/

.presLeft
{
    font-family: 'Fugaz One', cursive;  
    margin-bottom: 50px;
    font-size: 24px;
    width: calc(100% - 200px);
    margin: 0 auto;
    height: 200px;
}

.textLeft
{
    font-size: 24px;
    margin-left: 80px;
}

.imgLeft
{
    margin-left: 10px;
    border-radius: 50%;
    height: 150px;
    margin-top: 10px;
    float: left;
}

.imgRight
{
    border-radius: 50%;
    height: 150px;
    margin-top: 10px;
    float: right;
}

.aboutLeft
{
    width: 700px;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.roleLeft
{
    text-align: center;
    height: 33px;
    width: 150px;
    background: #000000;
    color: #ffffff;
}

.descripLeft
{
    width: 900px;
    margin-left: 180px;
    text-align: justify;
    line-height: 25px;
}

.descriptionLeft
{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16px;
}

.presRight
{
    background: #F3F3FF;
    font-family: 'Fugaz One', cursive;  
    font-size: 24px;
    margin-right: 130px;
    width: calc(100% - 200px);
    height: 200px;
    margin: 0 auto;
}

.imgRight
{
    margin-right: 50px;
    border-radius: 50%;
    height: 150px;
    margin-top: 10px;
    float: right;
}

.imgRight
{
    border-radius: 50%;
    height: 150px;
    margin-top: 10px;
    float: right;
}

.aboutRight
{
    padding-top: 20px;
    width: 700px;
    display: flex;
    justify-content: space-around;
    margin-left: 250px;
    flex-direction: row-reverse;
    margin-top: 15px;
}

.roleRight
{
    text-align: center;
    height: 33px;
    width: 150px;
    background: #000000;
    color: #ffffff;
}

.descripRight
{
    margin-left: 100px;
    width: 900px;
    text-align: justify;
    line-height: 25px;
}

.descriptionRight
{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16px;
}

.container
{
    width: 100%;
    background: #F3F3FF;
}
/* ------------- */
/* HOME PAGE ROBIN*/
/* ------------- */


.headerPic{
    height: 540px;
}

.headerPic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gorie{
    display: flex;
    align-content: center;
    height: 60px;
    padding-top: 60px;
    padding-bottom: 30px;
    color: #ffffff;
}

.gorie h2{
    margin: 0;
    padding-top: 3px;
    padding-left: 100px;
    padding-right: 40px;
    text-transform: uppercase;
    background: #000000;
    font-size: 40px;
    font-family: 'Fugaz One', cursive;
}

.blueBg{
    background: #F3F3FF;
}

/* ARTICLE 1 */

.containerArticle{
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;
}

.case1{
    width: 49%;
    min-width: 300px;
    height: 600px;
    position: relative;
    padding-bottom: 50px;
}

.case1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titleCase1{
    position: absolute;
    bottom: 0;
}

.titleCase1 h3{
    color: #ffffff;
    text-align: center;
    margin: 30px;
    margin-bottom: 100px;
    text-transform: uppercase;
    font-size: 32px;
    font-family: 'Fugaz One', cursive;
}

.line{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 10px 0px;
    height: 3px;
    background: #000000;
    position: absolute;
}


.autorContainer{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.autor h4{
    position: relative;
    margin: 0;
    padding: 0px 10px;
    top: 0px;
    background: #ffffff;
    text-align: center;
    font-size: 16px;
    font-family: 'Fugaz One', cursive;
}

/* ARTICLE 2 */

.case2{
    height: 500px;
    border-width: 10px;
    border-style: solid hidden solid hidden;
    text-align: center;
    justify-content: center;
    position: relative;
}

.case2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.titleCase2{
    width: 100%;
    position: absolute;
    bottom: 40px;

}

.titleCase2 h3{
    color: #ffffff;
    text-align: center;
    /* margin: 60px; */
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'Fugaz One', cursive;
    position: relative;
    text-shadow: 3px 4px #000000;
}

.autor2{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.autor2 h4{
    margin: 0;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-family: 'Fugaz One', cursive;
}

.line2{
    margin: 5px 0px;
    width: 100%;
    height: 5px;
    background: #ffffff;
}

/* ARTICLE 3 */

.case3{
    width: 32%;
    min-width: 250px;
    height: 600px;
    position: relative;
    padding-bottom: 50px;
}

.case3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.autorContainer3{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.transform2{
    transform: translateY(50px)
}

.transform3{
    transform: translateY(100px)
}

.autor3 h4{
    position: relative;
    margin: 0;
    padding: 0px 10px;
    top: 0px;
    background: #F3F3FF;
    text-align: center;
    font-size: 16px;
    font-family: 'Fugaz One', cursive;
}

/* ARTICLE 4 */

.transform4{
    margin-top: 160px;
}

.wrapContainer{
    display: flex;
    flex-wrap: wrap;
}

.case4{
    width: 49%;
    min-width: 300px;
    height: 200px;
    position: relative;
    padding-bottom: 20px;
}

.case4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titleCase4{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.titleCase4 h3{
    color: #ffffff;
    text-align: center;
    margin: 30px;
    margin-bottom: 100px;
    text-transform: uppercase;
    font-size: 32px;
    font-family: 'Fugaz One', cursive;
}


.autor4{
    width: 100%;
    position: absolute;
    top: 150px;
}

.autor4 h4{
    margin: 0;
    padding: 0px 10px;
    color: #ffffff;
    text-align: right;
    font-size: 16px;
    font-family: 'Fugaz One', cursive;
}

.padding4{
    padding-bottom: 30px;
}

/* END INDEX ROBIN */



@media (max-width: 950px) {
    .case1{
        width: 100%;
    }
    .case3{
        width: 49%;
    }
    .transform2{
        transform: translateY(400px)
    }
}

@media (max-width: 800px) {
    .case4{
        width: 100%;
    }
}

@media (max-width: 700px) {
    .case3{
        width: 100%;
    }
    .transform2{
        transform: translateY(50px)
    }
}

@media (max-width: 600px) {
    .containerArticle{
        margin: 0px 20px;
    }
}