@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

body {
    /* background-color: #FFFFFF; */
    font-family: 'Fugaz One', cursive;
    margin: 0;
}

header {
    user-select: none;
    height: 205px;
    background-color: #efeeee;
}

.title {
    margin: 0 auto;
    padding: 60px;
    width: 600px;
}

header nav {
    position: absolute;
    font-size: 24px;
}

.home {
    top: 1%;
    left: 50%;
    transform: translateX(-240%);
    mix-blend-mode: difference;
}

.date {
    position: fixed;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    mix-blend-mode: difference;
}

.contact {
    top: 1%;
    left: 50%;
    transform: translateX(180%);
    mix-blend-mode: difference;
}

.header_hover a {
    position: fixed;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.header_hover a::after{
    z-index: 2;
    transform-origin: center;
    content: "";
    z-index: 2;
    display: block;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    background-color: white;
}

.header_hover a:hover::after{
    transform: scaleX(1);
    background-color: white;
    transition: 0.2s ease-in;
}